.container{
    width: 100%;
    height: 100vh;
    /* background: #e3f9ff; */
    /* margin-left: 300px;
    margin-top: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -o-linear-gradient(black,green);

}
#firststrow{
    font-size: 5px;
}
.caluclator{
    background:linear-gradient(to right, black,rgba(98, 128, 0, 0.47));
    /* background-image: -o-linear-gradient(black,green);  */
    padding: 20px;
    border-radius: 50px;
    border: solid 10px;
}
.caluclator form input{
    border:  solid 2px;
    border-color: black;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 50px rgba(255, 255, 255, 0.10),50px 50px 150px rgba(0, 0, 0, 255);
    margin: 10px;
    font-size: 20px;
    background: transparent;
    /* background: rgb(238,174,202); */
    /* background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    color: #e3f9ff;
    background: linear-gradient(176deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    /* background: linear-gradient(132deg, rgb(221, 221, 221) 0.00%, rgb(110, 136, 161) 100.00%); */
}
form .display{
     display: flex;
     justify-content: flex-end;
     margin: 20px 0px;
}
form.display button{
    font-size: 70px;
    text-align: left;
    /* box-shadow: none; */
}
form input.equal{
    width: 145px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
body{
    background: transparent;
    background: linear-gradient(rgba(201, 227, 171, 0.446)0.00%, rgb(36, 37, 38) 100.00%);
   
}
.topheading{
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    margin-bottom: 1px;
    margin-top: 20px;
}
#pressed:hover {
    box-shadow: 0px 4px 3px 0 #DBEDF3;
    opacity: 1.5;
}
#pressed{
    background-image: linear-gradient(black,black); border: solid 5px white; color:white; font-weight: bolder; font-size: xx-large; font-family: 'Lobster', cursive;
}
#press1:hover{
    box-shadow: 2px 4px 3px 2px black;
    opacity: 1.5;
}
#press2:hover{
    /* background-color:#DA0463; */
    box-shadow: 2px 4px 3px 2px black;
    opacity: 1.5;
}
#pressing:hover{
    box-shadow: 2px 4px 3px 2px black;
    opacity: 1.5;
}
#press1{
    width : 171px;
    background-image: linear-gradient(lightblue,lightblue);
     border: solid 5px black; 
     color: #000; 
     font-weight: bolder; 
     font-size: xx-large; 
     font-family: 'Lobster', cursive;
}
#press2{
    width : 171px;
    background-image: linear-gradient(lightblue,lightblue);
     border: solid 5px black; 
     color: #000; 
     font-weight: bolder; 
     font-size: xx-large; 
     font-family: 'Lobster', cursive;
}

#pressing{
    width : 171px;background-image: linear-gradient(lightblue,lightblue); border: solid 5px black; color: #000; font-weight: bolder; font-size: xx-large; font-family: 'Lobster', cursive;
}
.div{
    background-color: #DA0463;
}
